.home {
  height: var(--vh);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.home::-webkit-scrollbar {
  display: none;
}

.page {
  height: var(--vh);
}