.section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .active {
    display: block;
  }
  .disabled {
    display: none;
  }
  .modal {
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 900px;
      height: 540px;
      padding: 10px;
      border-radius: 5px;
      background-color: white;
      
      .description {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 30px;
        gap: 10px;
      }
      .flickingContainer {
        position: relative;
        margin-top: auto;
        width: 100%;
        height: 360px;

        .flickingPanel {
          cursor: pointer;
          z-index: 1;
          min-width: 90%;
          height: 100%;
          margin-left: 5px;
          margin-right: 5px;
          background-color: var(--dark-gray);

          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
      }

      .closeModalButton {
        cursor: pointer;
        position: absolute;
        transform: translateX(-5px) translateY(150%);
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;

        img {
          filter: invert(1);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .dimmed {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, $alpha: 0.65);
  }
  .backgroundImage {
    position: absolute;
    transform: translateX(-50%) translateY(-60%);
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
  }
  .gradation {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, $alpha: 0) 10%,
      rgba(0, 0, 0, $alpha: 0.25) 25%,
      rgba(0, 0, 0, $alpha: 0.5) 50%,
      rgba(0, 0, 0, $alpha: 1) 75%,
    );
  }
  .container {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-bottom: 25px;
    }
    .list {
      display: grid;
      grid-template-columns: repeat(4, 200px);
      grid-auto-rows: 200px;
      gap: 40px;
      padding: 0px 20px;
      
      .item {
        cursor: pointer;
        position: relative;
        border-radius: 10px;
        animation: list 3000ms ease-in-out infinite;
        overflow: hidden;
        transition: all 500ms;
        filter: grayscale(1);

        .image {
          width: 100%;
          height: 100%;
          transition: all 500ms;
        }
        .hoveredImage {
          transform: scale(1.2);
        }
        .dimmed {
          position: absolute;
          bottom: 0;
          background-color: rgba(0, 0, 0, $alpha: 0.65);
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .hoveredItem {
        filter: none;
        animation-play-state: paused;
      }
    }
  }
}

@media screen and (max-width: 960px) and (min-width: 761px) {
  .modal {
    .wrapper {
      width: 700px !important;
      height: 540px !important;

      .flickingContainer {
        height: 360px !important;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .modal {
    .wrapper {
      width: 320px !important;
      height: 480px !important;

      .description {
        width: 80% !important;
      }
      .flickingContainer {
        height: 300px !important;
  
        .flickingPanel {
          min-width: 80% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 960px), screen and (max-height: 600px) {
  .list {
    grid-template-columns: repeat(2, 150px) !important;
    grid-auto-rows: 150px !important;
    gap: 20px !important;
  }
}

@keyframes list {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}