.section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .dimmed {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, $alpha: 0.65);
  }
  .backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .content {
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    max-width: 1450px;
    width: 100%;
    height: 100%;

    .container {
      display: flex;
      // background-color: rgba($color: #1a1a1a, $alpha: 0.75);
      // max-width: calc(100% - 70px);
      max-height: calc(100% - 250px);
      width: 100%;
      height: 100%;
      padding: 25px;
      margin: auto;

      .left {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .paper {
          transform: scaleX(-1) scaleY(-1) translateY(4px);
        }
      }
      .right {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .paper {
        position: absolute;
        max-width: calc(100% - 70px);
        // max-height: calc(100% - 250px);
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: calc(100% - 300px) !important;

    .left {
      .paper {
        max-width: 100% !important;
        transform: none !important;
      }
    }
    .right {
      display: none !important;
    }
  }
}